<h2>
  Lobby
</h2>

<h3>Rooms</h3>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <td><%= link_to room.name, room %></td>
    </li>
  <% end %>
</ul>

<br>

<% if logged_in? %>
  <%= link_to 'New Room', new_room_path %>
<% end %>
