<div class="page-header">
  <h1>
  Lobby
  </h1>
</div>

<h3>Rooms</h3>
<ul class="list-group">
  <% @rooms.each do |room| %>
    <li class="list-group-item">
      <span class="badge"><%= room.users.count %></span>
      <%= link_to room.name, room %>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to 'New Room', new_room_path, :class => "btn btn-primary" %>
<% end %>
